@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: #0a1120;
}

body {
  background-color: #0a1120;
  color: #f1f5f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
